
body {
  font-family: 'Nunito', sans-serif;
  color: #333;
  background-color: #fff;
}

.text-accent {
  color: #f86d72 !important;
}

.bg-accent {
  background-color: #f86d72 !important;
}

.btn-accent {
  background-color: #f15156;
  border: none;
  color: white;
  transition: 0.3s ease;
}

.btn-accent:hover {
  background-color: #dd646a;
  color: white;
}


.hero {
  background: url("https://atdavin29.github.io/midterm-bookly/images/banner-image-bg.jpg") center/cover no-repeat;
  min-height: 80vh;
}


.discount-banner {
   background: url("https://atdavin29.github.io/midterm-bookly/images/banner-image-bg-1.jpg") center/cover no-repeat;
  min-height: 60vh;
}


.categories {
  background: url("https://atdavin29.github.io/midterm-bookly/images/banner-image-bg-2.jpg") center/cover no-repeat;
  color: #fff;
}

.category img {
  transition: transform 0.4s ease;
}
.category:hover img {
  transform: scale(1.05);
}

.footer {
  background: url("https://images.unsplash.com/photo-1519682337058-a94d519337bc?auto=format&fit=crop&w=1920&q=80") center/cover no-repeat;
  background-attachment: fixed;
  color: #f9f9f9;
}
.footer a:hover {
  color: #f86d72 !important;
}



